$bad-vote: var(--color-yellow-negative);
$good-vote: var(--color-green-positive);
$card-font-color: #FFFFFF;
$disabled-font-color: #c4c4c4;

.vote-card{
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    padding: 0;
    margin: 0;
    color: $card-font-color;

    &__content{
        display: flex;
        padding-left: 15%;
        width: 100%;
    }

    &__data{
        flex:3;
        &__title{
                font-size: 2rem;
                padding: 0;
                margin: 0;
                line-height: 3.5rem;
                font-weight: 400;
        }

        &__description{
            font-size: 1rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }

    &__actions{
        flex: 2;
        text-align: right;
        padding: 8px 14px;

        &__info{
            font-size: 0.85rem;
            padding-bottom: 0.55rem;
            label{
                transition: all 1s;
            }
        }

        &__buttons{
            display:flex;
            justify-content: flex-end;
        }
    }

    &__percentage-bar{
        position:absolute;
        height: 3rem;
        width: 100%;
        background: rgba(60, 187, 180, 0.6);
        bottom: 0;
        transition: all 1s;

        &__item{
            position:absolute;
            height: 3rem;
            bottom: 0;
            transition: all 1s;
        }

        &__label{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3rem;
            font-size: 1.5rem;
            font-weight: 400;

            &--left{
                position:absolute;
                left: 1rem;
                label{
                  margin-left: 0.5rem;
                }
            }

            &--right{
                position:absolute;
                right: 1rem;
                label{
                  margin-right: 0.5rem;
                }
            }
        }

        .percentage--good{
            background: rgba(60, 187, 180, 0.6);
            left: 0;
            z-index: -1;
            width: 25.5%;
        }

        .percentage--bad{
            background: rgba(249, 173, 29, 0.6);
            right: 0;
            width: 74.5%;
        }
    }
}

.full-card{
    background-repeat: no-repeat !important;
    background-size: auto 120% !important;
    background-position: left !important;
    height: 170px;
}

.grid-card{
    background-repeat: no-repeat !important;
    background-size: auto 100% !important;
    background-position: left !important;
    height: 348px;
    width: 348px;

    .vote-card{
        &__content{
            flex-flow: column wrap;
            padding:0 2rem 1.9rem 0.3rem;
            align-self: flex-end;
        }

        &__trend{
            display: flex;
            align-items: center;
            padding-bottom: 30px;
        }
    
        &__data{
            flex:none;
            &__title{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-height:2.5rem;
            }

            &__description{
                font-size: 0.85rem;
                padding-right: 2.5rem;
            }
        }

        &__actions{
            flex:none;
            padding: 8px 0 8px 14px;

            &__info{
                label{
                    font-size: 0.65rem;
                }
            }
        }

        &__percentage-bar{
            height: 2rem;
    
            &__item{
                height: 2rem;
            }

            &__label{
                height: 2rem;
                font-size: 1rem;
    
                &--left{
                    left: 0.65rem;
                    label{
                      margin-left: 0.35rem;
                    }
                }
    
                &--right{
                    right: 0.65rem;
                    label{
                      margin-right: 0.35rem;
                    }
                }

                svg{
                    width: 15px;
                    height: 15px;
                }
            }
        }


    }

    .vote-trigger{
        height: 38px;
        width: 107px;
        font-size: 0.85rem;
    }

    .vote-button{
        width: 30px;
        height: 30px;
        svg{
            width: 16px;
            height: 16px;
        }
    }

}

.vote-button{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    svg{
        width: 24px;
        height: 24px;
        
    }
} 

.action-button{
    margin: 0.4rem 0.25rem;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
}

.activeVote{
    border: 2px solid $card-font-color;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.voted{
    visibility: hidden;
}

.button--good{
    background-color: rgba($good-vote, 0.8); 
 }

.action-button.button--good:hover{
    background-color: rgba($good-vote, 1);
    svg{
        animation: thumb-up-btn 0.8s ease-in-out 0.1s infinite;
    }
}

.button--bad{
   background-color: rgba($bad-vote, 0.8);
}

.action-button.button--bad:hover{
    background-color: rgba($bad-vote, 1);
    svg{
        animation: thumb-down-btn 0.5s ease-in-out 0.1s infinite;
    }
}

.vote-trigger{
    height: 2.5rem;
    width: 8rem;
    background: rgba(48, 48, 48, 0.6);
    border: 1px solid $card-font-color;
    color: $card-font-color;
    display: inline-block;
    font-size: 1rem;
    margin: 0.4rem 0 0.4rem 0.25rem;
    cursor: pointer;
    transition: all 1s;
    &--dark{
        background: rgba(0, 0, 0, 0.6);
    }
}

.vote-trigger:hover{
    background: rgba(0, 0, 0, 0.6);
}

.vote-trigger:disabled{
    background: rgba(0, 0, 0, 0.6);
    color: $disabled-font-color;
    cursor:not-allowed;
}


@media (min-width: 350px) and (max-width: 768px) {
    .grid-card {
        height: 300px;
        width: 300px;
    }

    .grid-card{

        .vote-card{

            &__content{
                padding: 0 2rem 3rem 0.3rem;
            }

            &__trend{
                padding-bottom: 66px;
                padding-top: 0;
            }
    
            &__actions__info{
                label{
                    font-size: 0.85rem;
                }
            }
    
            &__data__title{
                font-size: 2.5rem;
                line-height: 4rem;
            }
    
            &__data__description {
                font-size: 1.25rem;
            }
    
            &__actions__info{
                label{
                    font-size: 1rem;
                }
            }
    
            &__percentage-bar{
                height: 3rem;
        
                &__item{
                    height: 3rem;
                }
    
                &__label{
                    height: 3rem;
                    font-size: 1.5rem;
        
                    &--left{
                        left: 0.65rem;
                        label{
                          margin-left: 0.35rem;
                        }
                    }
        
                    &--right{
                        right: 0.65rem;
                        label{
                          margin-right: 0.35rem;
                        }
                    }
    
                    svg{
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }

        .vote-trigger{
            font-size: 1.25rem; 
        }
    }

}

@media (min-width: 769px) and (max-width: 1100px) {
    .vote-card__data__title{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-height:3.5rem;
    }

    .grid-card{
        .vote-card__trend{
            padding-bottom: 0;
            padding-top: 17px;
        }

        .vote-card__actions__info{
            label{
                font-size: 0.85rem;
            }
        }
    }

    .full-card {
        height: 138px;
    }

}

// Animations ------------------

@keyframes thumb-up-btn {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes thumb-down-btn {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


